
body {

background-image:url("../Fond-abstrait.jpg");
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;

}

/*.row [class^="col-"] {
    
    
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
*/

/* nav {

	height: 50px;

} */


.haut-page{

    padding-top: 15px;
    margin-top: 15px;

}


.espace-navbar {

padding-bottom: 60px;

}

h1{

color: rgb(56, 170, 236);
font-family: Tahoma, sans-serif;
font-style: bold;
font-size: 30px;
text-align: center;

/* background-color: rgba(255,255,255,0.5); */

}

.container {

margin-top: 20px;

margin-bottom: 20px;

padding-right: 15px;

padding-left: 15px;

margin-right: auto;

margin-left: auto;

}

.list-group{

    /* background-color: rgba(255,255,255,0.5); */

}

ul {
font-family: Tahoma, sans-serif; 
list-style-type:none;

}

.photo-profil{

	width: 150px;
	height: 150px;
	border-width: 1px;
	border-style: solid;
	border-radius:10%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}
 

.liste-en-tête {

margin-top: 5px;
margin-bottom: 5px;

}

.liste-en-tête-2 {

margin-top: 10px;
margin-bottom: 5px;

}

h2 {

color: rgb(56, 170, 236);
border-radius:5px;
font-family: Tahoma, sans-serif;
text-decoration: underline;
font-style: bold;
font-size: 28px;
text-align: center;
background-color: rgba(255,255,255,0.5);

}

h3 {

color: orange;
border-radius:5px;
font-family: Tahoma, sans-serif;
text-decoration: underline;
font-weight: bold;
font-size: 28px;
text-align: center;
background-color: rgba(255,255,255,0.5);
text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

h4 {

color: rgb(207, 78, 26);

}

.fili_blanc {

    background-color: rgba(255,255,255,0.5);
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    justify-content: center;
    border: 0px 0px 0px 5px solid black;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;


}

.res-social{
margin-left: 10%;
margin-right: 10%;
border-radius:5px;

background-color: rgba(255,255,255,0.5);
}

p {

font-family: Tahoma, sans-serif;
font-size: 16px;
justify-content: center;

padding-right: 5px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;

}

/*@media all and (max-width: 520px) {
    h3 {
        font-size: 135%;
    }
    p li {
        font-size: 90%;
    }
    aside, .photo {
        text-align: left;
        margin-left: 0px;
    }
}*/

@media all and (max-width: 520px) {
    iframe{

    	width: 320px; 
    	height:240px;

    }
}

/* test boutons */

.outline-bouton{
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    background-image: none;
    border-color: rgb(207, 78, 26);
    text-align: center;
    transition: all 0.15s ease-in-out;
    width: 10em;
    font-size: 1.5rem;
    margin-bottom: 5%;
    line-height: 1.25;
    padding: 1rem 1rem;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: normal;
    
}

.outline-bouton li {
    color: rgb(207, 78, 26);
}

.outline-bouton li:hover {
    color: white;
    transition: all 0.15s ease-in-out;
}

.outline-bouton:hover {
    color: #fff;
    background-color: rgb(207, 78, 26);
    border-color: rgb(207, 78, 26);
}

.outline-bouton:active, .outline-bouton.active,
.show > .outline-bouton.dropdown-toggle {
    color: #fff;
    background-color: rgb(207, 78, 26);
    border-color: rgb(207, 78, 26);
}

.outline-bouton.active li {
    color: white;
}